@import url(https://fonts.googleapis.com/css?family=Muli:300,400,400italic|Inconsolata:400,700);
html, body {
  margin: 0;
  padding: 0 0 150px 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #0f0f0f;
  border-top: 1px solid #3b80dc; }

body, a {
  font-family: 'Muli', sans-serif;
  font-size: 21px;
  line-height: 1.5em; }

a {
  color: #3b80dc; }

a:hover {
  text-decoration: none; }

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid #B7B7B7;
  font-size: 13px;
  padding: 5px;
  width: 200px;
  border-radius: 3px; }

form input[type="text"], form input[type="email"], form input[type="password"] {
  margin-bottom: 20px; }

.visible {
  display: block !important; }

.hidden {
  display: none; }

.align-center {
  text-align: center; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clear-both {
  clear: both; }

/* Headers */
.page-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; }

.section {
  font-size: 16px; }
  .section .section-title {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px; }
  .section .sub-section {
    padding: 20px 50px; }

/* Buttons */
.blue-button, .white-button {
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-decoration: none; }

.blue-button:active, .white-button:active {
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3); }

.blue-button.small, .white-button.small {
  padding: 3px 10px; }

.blue-button {
  background: #3b80dc;
  background-image: linear-gradient(top, #36a4df, #3b80dc);
  background-image: -moz-linear-gradient(top, #36a4df, #3b80dc);
  background-image: -o-linear-gradient(top, #36a4df, #3b80dc);
  background-image: -webkit-linear-gradient(top, #36a4df, #3b80dc);
  background-image: -ms-linear-gradient(top, #36a4df, #3b80dc);
  color: #ffffff;
  border-top-color: #1992da;
  border-left-color: #0c75bb;
  border-right-color: #0c75bb;
  border-bottom-color: #00589c;
  box-shadow: inset 0 1px 1px 0 #6fc5f5; }

.blue-button:hover {
  background: #0d5ab6;
  background-image: linear-gradient(top, #36a4df, #0d5ab6);
  background-image: -moz-linear-gradient(top, #36a4df, #0d5ab6);
  background-image: -o-linear-gradient(top, #36a4df, #0d5ab6);
  background-image: -webkit-linear-gradient(top, #36a4df, #0d5ab6);
  background-image: -ms-linear-gradient(top, #36a4df, #0d5ab6); }

.white-button {
  background: #ffffff;
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  color: #3b80dc;
  border-color: #c0c0c0;
  box-shadow: inset 0 1px 1px 0 #ffffff; }

.white-button:hover {
  background: #e7e7e7;
  background-image: linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -ms-linear-gradient(top, #ffffff, #e7e7e7); }

/* Error and success messages */
.message-center {
  padding: 20px;
  display: none; }
  .message-center .success {
    color: #3aba34;
    font-weight: bold; }
  .message-center .error {
    color: #ba3434;
    font-weight: bold; }

/* Tables */
.full-size-table {
  width: 100%;
  border-top: 1px solid #e6e6e6; }
  .full-size-table .row {
    width: calc(100% - 40px);
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    cursor: default; }
    .full-size-table .row:hover {
      background-color: #fafafa; }
      .full-size-table .row:hover .delete-row {
        display: inline; }
    .full-size-table .row.is-completed {
      color: #a0a0a0;
      background-color: #fafafa;
      display: none; }
    .full-size-table .row .delete-row {
      float: right;
      display: none; }
      .full-size-table .row .delete-row a {
        color: #ba3434;
        font-size: 12px; }
    .full-size-table .row .is-completed-box {
      display: inline-block;
      margin-right: 10px; }
    .full-size-table .row .date {
      font-size: 12px;
      color: #a0a0a0;
      display: inline-block;
      margin-left: 10px; }

/* Styles for boxes */
.box {
  box-shadow: 0 0 10px #d0d0d0;
  padding: 30px;
  border-radius: 5px; }

.box .title {
  text-align: left;
  margin-bottom: 15px; }

.box .message {
  text-align: left;
  margin-bottom: 15px;
  font-size: 14px;
  color: #b81900; }

.box input {
  margin-bottom: 20px; }

/* Styles for content */
.content {
  padding: 20px; }

/* Styles for content columns */
.content-two-thirds-columns .narrow-column {
  float: left;
  width: 300px;
  padding: 10px; }
.content-two-thirds-columns .large-column {
  float: left;
  padding: 10px;
  width: calc(100% - 340px); }

.content-three-columns {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden; }

.content-three-columns .first-column, .content-three-columns .second-column, .content-three-columns .third-column {
  height: 100%;
  overflow: auto;
  float: left;
  position: relative; }

.content-three-columns .first-column, .content-three-columns .second-column {
  border-right: 1px solid #e6e6e6;
  width: 300px; }

.content-three-columns .first-column {
  background: #f6f6f6; }

.content-three-columns .third-column {
  width: calc(100% - 602px);
  overflow: hidden; }

.content-three-columns .column-content .section-label {
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #868686; }

/* Styles for the footer */
.footer {
  clear: both;
  font-size: 13px;
  padding: 20px 40px;
  border-top: 1px solid #e6e6e6; }
  .footer .version-number {
    color: #c0c0c0;
    font-style: italic; }

/* Styles for the menubar */
.menubar {
  width: 100%;
  height: 45px;
  background: #f6f6f6;
  border-bottom: 1px solid #e6e6e6; }

.menubar div {
  float: left; }

.menubar .logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px; }

.menubar .command-search {
  margin: 6px 20px 0 20px; }

.menubar .command-search .command-search-field {
  width: 300px; }

.menubar .command-search .command-search-field:focus {
  box-shadow: 0 0 4px #a6a6a6;
  outline: none;
  border: 1px solid #3b80dc; }

.menubar .menu a {
  display: inline-block;
  padding: 12px 18px;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  height: 21px;
  font-weight: 300;
  float: left; }
  .menubar .menu a.selected {
    color: #3b80dc; }
  .menubar .menu a:hover {
    color: #3b80dc; }

.menubar .dropdown.open .mainlink {
  color: #3b80dc; }

.menubar .home-icon {
  background: url("../img/house.svg") no-repeat;
  height: 14px;
  width: 14px;
  margin-top: 5px; }
  .menubar .home-icon:hover {
    background: url("../img/house-over.svg") no-repeat; }

.menubar .settings {
  float: right; }

.menubar .dropdown, .menubar .dropdown-menu {
  background: #444444; }

.menubar .dropdown-menu {
  display: none;
  border-right: 1px solid #222222; }

.menubar .account {
  float: right; }

.menubar .account .dropdown-arrow {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  display: block;
  height: 30px;
  width: 50px;
  padding-top: 15px;
  text-align: center; }

.menubar .account .dropdown-arrow:hover, .menubar .account .dropdown-arrow.open {
  background: #e6e6e6; }

.menubar .account .dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: white;
  z-index: 10000;
  right: 2px;
  font-size: 13px;
  width: 150px;
  border-radius: 3px; }

.menubar .account .dropdown a {
  font-size: 13px;
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 5px 8px; }

.menubar .account .dropdown a:hover {
  background: #3b80dc;
  color: #ffffff; }

.menubar .account .dropdown a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.menubar .account .dropdown a:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.menubar .account .dropdown a.divider {
  border-top: 1px solid #e6e6e6; }

/* Styles for the console */
.console-tab {
  position: fixed;
  bottom: 0;
  left: 20px;
  font-size: 13px;
  line-height: 1.5em;
  cursor: pointer;
  background: #f6f6f6;
  border: 1px solid #c6c6c6;
  border-bottom: 0;
  padding: 5px 20px;
  z-index: 100;
  margin-bottom: -1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.console-tab:hover {
  border: 1px solid #b6b6b6;
  border-bottom: 0;
  background: #e7e7e7;
  background-image: linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background-image: -ms-linear-gradient(top, #ffffff, #e7e7e7); }

.console-tab:active {
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.3); }

.console {
  position: fixed;
  top: 100%;
  left: 0;
  border: 1px solid #c6c6c6;
  width: 100%;
  height: 200px;
  box-shadow: -5px 0 10px #d6d6d6;
  background: #f6f6f6;
  z-index: 99;
  overflow: auto; }

.console-content {
  padding: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px; }

/* Styles for toolbars */
.toolbar {
  background: #ffffff;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 5px #e6e6e6;
  font-size: 12px; }

.toolbar .toolbar-content {
  padding: 0 10px; }

.toolbar .toolbar-content .toolbar-section {
  border-right: 1px solid #e6e6e6;
  float: left;
  height: 35px;
  padding: 0 8px; }

.toolbar .toolbar-content .toolbar-section.no-line {
  border: 0; }

.toolbar .toolbar-content .toolbar-section:first-child {
  padding-left: 0; }

.toolbar .toolbar-content a {
  display: inline-block;
  text-decoration: none;
  color: #0f0f0f;
  width: 30px;
  padding: 1px 0;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 16px;
  margin: 3px 1px 0 0; }
  .toolbar .toolbar-content a:hover {
    border: 1px solid #b6b6b6;
    background: #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .toolbar .toolbar-content a:active {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

.toolbar .toolbar-content a img {
  margin-top: 5px;
  height: 12px;
  border: 0; }

.toolbar .toolbar-content a.selected {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background: #e7e7e7;
  border: 1px solid #b6b6b6; }

.toolbar .toolbar-content .toolbar-options {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  height: 300px;
  width: 500px;
  padding: 20px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border-radius: 3px; }

.toolbar .toolbar-content span {
  display: inline-block;
  margin-top: 3px; }

.toolbar .toolbar-content label {
  margin-right: 5px; }

.toolbar .toolbar-content input[type="text"], .toolbar .toolbar-content input[type="password"] {
  width: 30px;
  font-size: 10px;
  margin-top: 5px;
  margin-right: 0px; }

/* Styles for sub toolbars */
.subtoolbar {
  background: #f6f6f6;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 5px #e6e6e6;
  font-size: 12px;
  display: none; }

.subtoolbar .toolbar-content {
  padding: 0 10px; }

.subtoolbar .toolbar-content input[type="text"], .subtoolbar .toolbar-content input[type="password"] {
  width: 200px;
  font-size: 10px;
  margin-top: 5px;
  margin-right: 0px; }

.subtoolbar .toolbar-content label {
  margin-right: 5px; }

.subtoolbar .toolbar-content a {
  display: inline-block;
  text-decoration: none;
  color: #0f0f0f;
  width: 30px;
  padding: 1px 0;
  text-align: center;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  font-size: 16px;
  margin: 3px 1px 0 0; }
  .subtoolbar .toolbar-content a:hover {
    border: 1px solid #b6b6b6;
    background: #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .subtoolbar .toolbar-content a:active {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

.subtoolbar .toolbar-content a img {
  margin-top: 5px;
  height: 12px;
  border: 0; }

.subtoolbar .toolbar-content a.auto {
  display: inline-block;
  text-decoration: none;
  color: #0f0f0f;
  width: auto;
  padding: 1px 0;
  text-align: center;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  font-size: 16px;
  margin: 3px 1px 0 0;
  font-size: 12px;
  padding: 5px 8px 2px 8px !important; }
  .subtoolbar .toolbar-content a.auto:hover {
    border: 1px solid #b6b6b6;
    background: #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .subtoolbar .toolbar-content a.auto:active {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

/* Styles for the code editor */
.editor-container.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.editor-wrapper {
  position: relative;
  height: calc(100% - 36px);
  width: 100%; }

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.editor-folder {
  display: block;
  text-decoration: none;
  color: #0f0f0f;
  padding: 10px;
  font-size: 15px;
  white-space: nowrap;
  cursor: default; }
  .editor-folder:hover {
    background: #fbfbfb; }
  .editor-folder.selected {
    background: #e6e6e6; }
  .editor-folder.folder-hover {
    background: #e6e6e6; }

.editor-page {
  height: 40px;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  white-space: nowrap;
  cursor: default; }
  .editor-page:hover {
    background: #fbfbfb; }
  .editor-page.selected {
    background: #f6f6f6; }
  .editor-page .date {
    font-size: 10px;
    color: #a0a0a0;
    bottom: 0;
    left: 10px;
    position: absolute; }
  .editor-page .content {
    display: none; }

/* Styles for popups */
.popup {
  display: none;
  opacity: 0; }

.popup-content {
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0 0 30px #d0d0d0;
  padding: 20px; }

.popup-content, .popup-content p, .popup-content a {
  font-size: 13px; }

.popup-content .close {
  float: right;
  font-size: 12px; }

.popup-content .close a {
  margin-left: 30px; }

.popup-content .close a:first-child {
  margin-left: 0; }

.popup-content .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px; }

.popup-content .buttons {
  float: right;
  clear: both;
  margin-top: 50px; }

.popup-close-layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

.popup-close-layer.background {
  background: rgba(255, 255, 255, 0.5); }

.login-box {
  width: 400px;
  min-height: 210px;
  position: absolute;
  left: 50%;
  top: 300px;
  margin-left: -255px;
  margin-top: -130px;
  text-align: center; }

.login-box input {
  width: 300px; }

.login-box .forgot-password {
  font-size: 12px;
  margin-top: 15px;
  display: block; }

/*# sourceMappingURL=main.css.map */
