{% extends 'frontend/base.html.twig' %}

{% block body %}
    <a href="{{ path('login_path') }}">Login</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
