{% extends 'frontend/base.html.twig' %}

{% block title %}About Developer's Notebook{% endblock %}

{% block body %}

    <div class="content">
        <div class="page-title">
            About Developer's Notebook
        </div>

        Developer's Notebook was developed to help developers organize themselves.
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
