{% extends 'frontend/base.html.twig' %}

{% block title %}About Developer's Notebook{% endblock %}

{% block body %}

    <div class="content">
        <div class="page-title">
            About Developer's Notebook
        </div>

        <div class="large-font align-justify append-bottom">
            <p>Developer's Notebook is a tool created by a developer dissatisfied with other organizational tools on offer. It is designed to enhance a developer's workflow by giving them all of the common organizational tools necessary to get their job done in a single location.</p>
            <p>It was created as a PHP-based web application rather than a native program because developers often use multiple platforms and want access to their information from anywhere. PHP offers the flexibility to run on just about any server environment and is easily understandable and customizable. Its web-based nature also makes it easier for development teams to take advantage of.</p>
            <p>Since Developer's Notebook is an open source project, any developer can contribute or customize it.</p>
        </div>
        <div class="large-font border-top">
            <div>
                <b>Important links:</b><br><br>
                <a href="https://github.com/eiskalteschatten/developers-notebook" target="_blank">GitHub</a><br>
                <a href="https://github.com/eiskalteschatten/developers-notebook/issues" target="_blank">Report a bug</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
