{% extends 'security/base.html.twig' %}
{#{% form_theme form 'forms/fields.html.twig' %}#}

{% block body %}
    <div class="box login-box">
        <div class="title">Register</div>
        {%  if error is defined %}
            <div class="message">{{ error }}</div>
        {%  endif %}
        <form action="{{ path('account_create') }}" method="post" id="registerForm">
            <input type="text" name="username" placeholder="Username" required="required"><br>
            <input type="text" name="email" placeholder="Email Address" required="required"><br>
            <input type="password" name="password" placeholder="Password" required="required"><br>
            <input type="password" name="passwordConfirm" placeholder="Confirm Password" required="required">
            <input type="submit" style="position: absolute; left: -9999px"/>
        </form>
        <a href="{{ path('login_path') }}" class="white-button" style="margin-right: 15px;">Login</a><a href="#!" onclick="document.forms['registerForm'].submit()" class="blue-button">Submit</a><br>
    </div>
{% endblock %}