/* Styles for the code editor */

.editor-container.full-screen {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.editor-wrapper {
	position: relative;
	height: calc(100% - 36px);
	width: 100%;
}

#editor { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.editor-folders {
	.editor-folder {
		display: block;
		text-decoration: none;
		color: #0f0f0f;
		padding: 10px;
		font-size: 15px;
		white-space: nowrap;
		cursor: default;
		
		&:hover {
			background: #fbfbfb;
		}
		
		&.selected {
			background: #e6e6e6;
		}
	}
}

.editor-pages {
	.editor-page {
		height: 40px;
		font-size: 14px;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
		position: relative;
		white-space: nowrap;
		cursor: default;
		
		&:hover {
			background: #fbfbfb;
		}
		
		&.selected {
			background: #f6f6f6;	
		}
		
		.date {
			font-size: 10px;
			color: #a0a0a0;
			bottom: 0;
			left: 10px;
			position: absolute;
		}
		
		.content {display: none;}
	}
}