.login-box {width: 400px; min-height: 210px; position: absolute; left: 50%; top: 300px; margin-left: -255px; margin-top: -130px; text-align: center;}
.login-box input {width: 300px;}
.login-box .forgot-password {font-size: 12px; margin-top: 15px; display: block;}