.login-box-container {
    margin: 100px 0;
}

.login-box {
    width: 400px;
    min-height: 210px;
    margin: 0 auto;
    text-align: center;

    input {
        width: 300px;
    }

    //.forgot-password {font-size: 12px; margin-top: 15px; display: block;}
}