$blue: #3b80dc;
$green: #3aba34;
$red: #ba3434;

$bordercolor: #e6e6e6;
$shadowcolor: #d0d0d0;

@import 'mainss';
@import 'structure';
@import 'menubar';
@import 'console';
@import 'toolbars';
@import 'editor';
@import 'popups';
@import 'login';
@import 'jqueryui';