$blue: #365b8c;//#355a8b;
$bordercolor: #000000;
$shadowcolor: #2d2d2d;

@import 'mainss';
@import 'structure';
@import 'menubar';
@import 'console';
@import 'toolbars';
@import 'editor';
@import 'popups';